<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite" >

    <test name="CHROME" >
        <parameter name="browser" value="CHROME"/>
        <classes>
            <class name="testcases.MakeAppointmentTest"/>
          <class name="downloadTestCases.DataTableDownloadTest"/>
        </classes>
    </test>

</suite>